@charset "UTF-8";

/* Main */
:root{--color-red:#ec2d3f;--color-medium-red:#cc2c32;--color-dark-red:#c31829;--color-green:#28a745;--color-dark-green:#207d36;--color-black:#212529;--color-gray:#6c757d;}
.h1, .h2, .h3, h1, h2, h3, h4, h5, h6{padding: 0; margin: 0;}
*{ margin: 0; padding: 0; } 
.clear{clear:both;}
.clearfix::after{ content: ""; clear: both; display: table;}
body{ font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:1.5; }
a{ text-decoration:none;}
a:focus{outline:none;color:#fff;text-decoration:none;}
ul{ list-style:none; padding:0; margin:0;}
p{margin-bottom:8px;}
.slick-slide img{display: inline-block !important;}
a[href^="tel"] { color: inherit; text-decoration: none; }
.text-align-center{ text-align: center !important; }
.menu_top{display: none;}
.fixwidth{max-width:1155px;margin:auto;}
.fixpage{max-width:1155px;margin:auto;}
.maincontent{width:1366px;margin:auto;max-width: 1366px;overflow: hidden;}
.maincontent img{max-width: 100%;}
a{text-decoration: none !important;}
.wrap{text-align: center;}
#sub_img_detail{margin-top:10px;}
body::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}
body::-webkit-scrollbar{width: 8px; background-color: #F5F5F5;}
body::-webkit-scrollbar-thumb{ background-color: #999;}

img{max-width:100%;height:auto !important; }
a,input,textarea{outline:none;padding:0px;}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}
.w-clear:after{display:block;content:"";clear:both;}
.hidden{display:none;}
.none{display:none;}
.hidden-seoh{visibility:hidden;height:0px;margin:0px;overflow:hidden;}
.wrap-main,.wrap-content{max-width:1155px;margin:0px auto;padding:0px 0px 40px 0;}
.wrap-home{max-width:100%;padding:0px;}
.wrap-content{margin:auto;}

/* General */
.title-main{margin:1.5rem 0 ;text-align:center;}
.title-main span{text-transform:uppercase;color:#333;font-size:28px;font-family: 'RobotoCondensedBold';}
.time-main{margin-bottom:0.75rem;color:#999999;}
.time-main i{vertical-align:top;margin:3px 7px 0px 0px;}
.time-main span{vertical-align:top;display:inline-block;}
.social{list-style:none;padding:0px;margin:0px;}
.social li{display:inline-block;vertical-align:top;}
.social li:last-child{margin-right:0px;}
.control-carousel{position:absolute;top:calc(50% - 30px/2);margin-bottom:0px;width:30px;height:30px;text-align:center;line-height:30px;border:1px solid #eee;z-index:2;background-color:#fff;color:#ccc;cursor:pointer;}
.control-carousel:hover{background-color:var(--color-red);border-color:var(--color-red);color:#fff;}
.prev-carousel{left:0px;}
.next-carousel{right:0px;}

.pagetitle{ border-bottom: 1px solid #ddd; text-transform: uppercase; font-family: 'RobotoBold'; font-weight: bold; font-size: 22px; margin-bottom: 25px; }
/* Header */


.header_left{max-width: 410px;}
.boxmenu_middle{max-width: 475px; width: 50%;}
/*==========SEARCH=============*/
.frm_timkiem{position:relative; width:100%; }
.frm_timkiem button{background: #f0bb55; outline:none; border:none; right:2px; color:#fff; position: absolute;z-index: 999; top: 2px; width: 58px; height: 36px; border-radius: 20px;}
.frm_timkiem button span{margin-right:10px;}

.frm_timkiem .input{ outline:none; transition:all ease 0.5s; border-radius: 20px; padding-left: 20px; padding-right: 20px; height: 40px; width: 100%; z-index: 99; color:#333; background:#fbe7bf; border: 1px solid #fbe7bf; font-size:14px; font-family: 'Muli-Regular';}
.frm_timkiem .input::-webkit-input-placeholder{color:#333; font-style: italic;}
.frm_timkiem .input::-moz-placeholder{color:#333; font-style: italic;}
.frm_timkiem .input:-ms-input-placeholder{color:#333; font-style: italic;}
.frm_timkiem .input:-moz-placeholder{color:#333; font-style: italic;} 

.none_bg{background:none !important;padding-right: 0 !important;text-align: right !important;transition:all ease-in-out 0.5s;line-height: inherit !important;}
.none_bg:hover #search{width:100%;}
.none_bg:hover #search input{opacity:1;}



/* Menu */
/*=====menu======*/
 
.header-cachtop{ border-bottom: 1px solid #eee; padding: 8px 0; background: #fff;}
.header{ padding: 5px 0; background: #fff; transition: all 0.3s; }
.header_logo{ position: relative; z-index: 10000; }
.header_logo img{ transition: all 0.3s; max-height:85px;}
.boxmenu_right{ }
.icon-head .icon-img{ padding-right: 10px; }
.icon-head .icon-img i{ font-size:35px; animation:1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;color:#f0bb55}
@keyframes suntory-alo-circle-img-anim{
	0%,100%,50%{transform:rotate(0) scale(1) skew(1deg)}
	10%,30%{transform:rotate(-25deg) scale(1) skew(1deg)}
	20%,40%{transform:rotate(25deg) scale(1) skew(1deg)}
}

.icon-head .icon-info{ line-height: 1.4; }
.icon-head .icon-info div:nth-child(1){ font-family: 'Muli-Regular'; color:#4e4e4e; font-size: 13px; }
.icon-head .icon-info div:nth-child(2){ font-family: 'Muli-Bold'; color:#f0bb55; font-size: 16px; }


.header_banner{ display: block; }

.header-height{ height: 140px; }
#menu_top{ height: 45px; background:#f0bb55;}
.menu { position: relative; }
 

 

.menu ul.menu_cap_cha{margin:0; position: relative; width: 100%;}
.menu ul.menu_cap_cha li{transition:all ease-in-out 0.2s;position:relative; }
.menu ul.menu_cap_cha li.menulicha{ }
.menu ul.menu_cap_cha li.menulicha>a{ font-family: 'Muli-SemiBold'; color:#000; font-size: 17px; text-decoration: none; display: block; cursor: pointer; text-align: center; height: 45px; line-height: 45px; padding: 0 20px; } 
.menu ul.menu_cap_cha li.menulicha>a .has-dropdown .icon-angle-down { font-size: 16px; margin-left: 0.2em; opacity: .6;}
.menu ul.menu_cap_cha li.menulicha>a:hover,.menu ul.menu_cap_cha li.active>a{color: #fff;}
.none_boder_r{ border-right: 0 !important; }
.no_bg{ background-image:none !important;}

.menu_cap_cha .desk-hide{ display: none; }
/*---menu cấp con---*/
.menu_cap_con{position:absolute;display:none;transition:all ease 0.5s;left: 0px; top:100%; background:#fff; z-index: 99; border-top:1px #fff solid }
.menu_cap_con li{ padding: 0 !important; }
.menu_cap_con li a{display:block; width:100%; min-width: 220px; font-size: 15px; font-family: 'Muli-Regular'; float:none !important; transition:all ease 0.2s; line-height: initial !important; padding: 12px 10px !important; position: relative; border-bottom: 1px solid #ddd; margin:0px; color:#333 !important;}
.menu_cap_con li:last-child a{ border-bottom: none;}
.menu_cap_con li:hover{background:#f0bb55 !important}
.menu_cap_con li:hover>a{color: #fff !important;}
.menu_cap_cha li:hover .menu_cap_con{display:block;}
.menu_cap_con li:hover .menu_cap_2{ display:block; }
 
.menu_cap_2{ position: absolute; left: 100%; top: 0; display:none;background: rgba(0,0,0,0.9);}
.menu ul.menu_cap_cha li.menulicha.spkhac .menu_cap_2{ position: absolute; right: 100%; left: auto; top: 0;}

.menu_cap_2 li:hover .menu_cap_3{ display:block; }
.menu_cap_3{ position: absolute; left: 100%; top: 0; display:none;}

.menu_cap_3 li:hover .menu_cap_4{ display:block;}
.menu_cap_4{ position: absolute; left: 100%; top: 0; display:none;}

 
#search button{position: absolute; top: 7px; right: 10px;border:none; width:13px; height:19px; background:none;outline:none;}

.fixed{position: fixed !important;width:100%;max-width:100%;top: 0px !important;z-index: 999;-webkit-animation: fadeInDown 1.3s ease backwards; -moz-animation: fadeInDown 1.3s ease backwards; -o-animation: fadeInDown 1.3s ease backwards; -ms-animation: fadeInDown 1.3s ease backwards;  
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 1px 8px -1px rgba(0,0,0,0.3);/*FF 3.5+*/
-webkit-box-shadow: 0 1px 8px -1px rgba(0,0,0,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 1px 8px -1px rgba(0,0,0,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.fixed .header{ background: rgba(255, 255, 255, 0.8); transition: all 0.3s; }
@-webkit-keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
@keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}

.fixed .header_logo img{ max-height: 60px; transition: all 0.3s; }
 

/* Slider*/

.item_slider{position: relative;}
.item_slider img{position: relative; width: 100%;}
.slider_info { position: absolute; top: 0; left: 0%; bottom: 0; z-index: 2; display: flex; display: -webkit-flex; -webkit-align-items: center; align-items: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; width: 100%; opacity: 0; justify-content: space-between;}
.slider_info--text{width: 50%;margin:auto;}
.item_slider .thumb::before {display: none; content: ""; position: absolute; top: 30%; left: 0; bottom: 0; width: 450px; background: -moz-linear-gradient(left, #fff -10%, rgba(255, 255, 255, 0) 100%); background: -webkit-linear-gradient(left, #fff -10%, rgba(255, 255, 255, 0) 100%); background: -o-linear-gradient(left, #fff -10%, rgba(255, 255, 255, 0) 100%); background: -ms-linear-gradient(left, #fff -10%, rgba(255, 255, 255, 0) 100%); background:linear-gradient(left, #fff -10%, rgba(255, 255, 255, 0) 100%); text-align:center; z-index: 1;}
#slider .owl-item.active .item_slider .slider_info, #slider_mb .owl-item.active .item_slider .slider_info {opacity: 1; -webkit-animation: fadeInRight 1s ease backwards; -moz-animation: fadeInRight 1s ease backwards; -o-animation: fadeInRight 1s ease backwards; -ms-animation: fadeInRight 1s ease backwards; -webkit-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-delay: 1.5s; -o-animation-delay: 1.5s; animation-delay: 1.5s;}
#slider .owl-item.active .owl-lazy, #slider_mb .owl-item.active .owl-lazy{opacity: 1}
@keyframes fadeInRight {from {opacity: 0;transform: translate3d(0%, -20%, 0);} to {opacity: 1;transform: none;}}
.fadeInRight {animation-name: fadeInRight;}
.thumb{ background-position: center center;background-repeat: no-repeat;background-size: cover; display: block; position: relative;/*padding-bottom: calc(439/850 * 100%);*/}
.slider_info__name{color: #fff; font-size: 65px; font-family: 'RobotoCondensedBold'; padding-bottom: 10px; text-align: center;}
.button-more{display: inline-block; vertical-align: top; color: #010101; position: relative; z-index: 2; background: #fff; border: none !important; font-family: "RobotoRegular"; padding: 12px 30px; font-size: 14px; letter-spacing: 1px; margin-left: 4px; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.button-more:hover {color: #fff;background: #1a9edc;}
.btn-main:after, .btn-main:before {content: "";position: absolute;bottom: -4px;left: -4px;top: 0;right: 0;border: solid 1px #1a9edc;z-index: -1;}
.btn-main:after {right: -4px;top: -4px;bottom: 0;left: 0;z-index: -2;}
.slider_info__desc{font-size: 18px; font-family: 'RobotoMedium'; color: #fff;text-align: center;}

.slider_info1 { position: absolute; left: 50%; bottom: 10%; background: rgba(259,148,41,0.8); z-index: 2; padding:15px 30px;
-moz-transform: rotate(0deg) scale(1, 1) skewX(-26deg) skewY(0deg) translate(-50%, 0);/* FF3.5+ */
-webkit-transform: rotate(0deg) scale(1, 1) skew(-26deg, 0deg) translate(-50%, 0);/*Saf3.1+, Chrome*/
-o-transform: rotate(0deg) scale(1, 1) skew(-26deg, 0deg) translate(-50%, 0);/* Opera 10.5 */
-ms-transform: rotate(0deg) scale(1, 1) skew(-26deg, 0deg) translate(-50%, 0);/* IE 9 */
transform: rotate(0deg) scale(1, 1) skew(-26deg, 0deg) translate(-50%, 0);
}
.slider_info__name1{color: #fff; font-size: 30px; font-family: 'RobotoRegular'; text-align: center;white-space: nowrap;
-moz-transform: rotate(0deg) scale(1, 1) skewX(26deg) skewY(0deg) translate(0, 0);/* FF3.5+ */
-webkit-transform: rotate(0deg) scale(1, 1) skew(26deg, 0deg) translate(0, 0);/*Saf3.1+, Chrome*/
-o-transform: rotate(0deg) scale(1, 1) skew(26deg, 0deg) translate(0, 0);/* Opera 10.5 */
-ms-transform: rotate(0deg) scale(1, 1) skew(26deg, 0deg) translate(0, 0);/* IE 9 */
transform: rotate(0deg) scale(1, 1) skew(26deg, 0deg) translate(0, 0);
}


/* Slideshow */
 
.slideshow{position:relative; width: 100%; }
/*.slideshow:after{content:'';position: absolute;top:0;left:0;width:100%;height:45%;background: linear-gradient(rgba(0,0,0,0.7), rgba(255,255,255,0)); z-index: 99;}*/
.slideshow a{display:block;cursor:pointer;}
.slideshow a img{width:100%;}
.slideshow:hover .control-slideshow{opacity:0.3;}
.slideshow .control-slideshow:hover{opacity:0.8;}
.control-slideshow{opacity:0;position:absolute;z-index:2;top:calc(50% - 50px/2);width:35px;height:50px;text-align:center;line-height:50px;font-size:25px;cursor:pointer;margin:0px;background-color:#000000;border-radius:3px;}
.control-slideshow i{color:#ffffff;}
.prev-slideshow{left:20px;padding-right:3px;}
.next-slideshow{right:20px;padding-left:3px;}

.row-flex-xs { display: -ms-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -25px;}

#wrapper{ background-color: #fff9ec; }
/* Breadcrumb */
.breadCrumbs{background-color:#eee;margin-bottom:25px;}
.breadCrumbs .wrap-content{padding:0.75rem 10px;max-width:1200px;}
.breadCrumbs .wrap-content .breadcrumb{padding:0;margin-bottom:0;background-color:transparent;border-radius:0;}
.breadCrumbs .wrap-content .breadcrumb-item a{color:var(--color-black);}
.breadCrumbs .wrap-content .breadcrumb-item.active a{color:var(--color-gray);}
 
  
.left{ width: 24%; }
.right{ width: 74%; }
.box-right{ margin-bottom: 20px; }
.box-right-content{ border-top:1px solid #cecfd0; }
.right-title{ margin-bottom: 0; background: #f0bb55; padding: 10px 15px; border-top-left-radius: 5px; border-top-right-radius: 5px; color: white; display: block; text-align:center; }
.right-title span{ position:relative; display:inline-block; font-family: 'Muli-Bold'; color: #fff; font-size: 16px; }
 

#nav-ul{ list-style:none; background: #fff;}
.nav-li{padding:3px 10px; position:relative; }
.nav-li i{position: absolute; top: 0px; right: 0; padding: 5px;}

.nav-li:hover{}
.nav-li:hover .nav-a{color:#ff0000;}
.nav-a{	display:block; color:#333333; font-size: 15px; position: relative; }
.nav-a2{display: block;	color: #333333;	font-size: 15px; font-style: italic;}
.nav-active{border-bottom:1px solid #ac0b0b; padding:5px 10px; background-color:#ac0b0b;}
.nav-active .nav-a{	color:white;}
.nav-ul-child{ display: none;	list-style:none; margin: 5px 0px; border-left: 1px solid #ddd; border-radius: 14px; border-top-right-radius: 0px; border-top-left-radius: 0px; padding-bottom: 10px;}

.nav-li-child:hover{}
.nav-li-child:hover .nav-a2{color:#ff0000;}
.nav-li-child{padding:3px 10px;}
.nav-li-child:last-child{border-bottom: none; padding-bottom: 0px;}
.nav-li:hover .nav-ul-child{}

.box-right-content{ background: #fff; }


.title{font-family: 'Lobster', cursive; color: #333; font-size: 24px; margin-bottom: 20px; text-align: center; }
   
 
.title-category{ text-align: center; margin-bottom: 20px; }
.title-category span{ padding: 7px 25px; color: #333; transition: all 0.3s;}
.title-category span.active,.title-category span:hover{ border-radius: 25px; background: #f0bb55; color: #fff; font-weight: normal;}
 
.wrap_qc{ margin-top: -80px; }

 
.wrap_qc2{ }
.left_qc{ width: 67.1%;}
.right_qc{ width: 31.8%;}

.wrap_tieuchi{ padding: 80px 0; }
.item_tieuchi{ text-align: center; }
.item_tieuchi div:nth-child(1){ margin-bottom: 10px;}
.item_tieuchi img{ margin: auto; }
.item_tieuchi div:nth-child(2){ margin: 0; font-size: 22px; font-weight: bold; color: #f0bb55; font-family: 'Lobster',cursive;}
.item_tieuchi div:nth-child(3){ color: #666; font-size: 12px;}

.wrap_doitac{ padding: 40px 0; }

.wrap-news{ padding: 40px 0; }
.wrap-feedback{ padding: 40px 0; }
.content-feedback{ padding: 40px; background: #fff; box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%); }
 
.feedback-item{width:100%; padding: 7px 0; display:block;}
.feedback-item .pic-news{ width:100px; margin: auto; }
.feedback-item .pic-news img{width:100%; border-radius: 100%;}

.feedback-item .name-news{ background: #fff; width:100%; text-align: center; position: relative; padding-top: 5px; color:#323c3f; font-size:16px; font-family: 'Muli-Bold'; display:block; line-height:normal;}
 .feedback-item .desc-news{color: #a1a1a1; font-size: 12px; font-family: 'Muli-Regular'; height: 57px; line-height:18px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; margin-bottom: 10px; text-align: center;}
.feedback-item .nghenghiep-news{color: #a1a1a1; font-size: 12px; margin-bottom: 15px; text-align: center;}
 

 
.paging_ajax{ text-align: center; margin-top: 20px; }
.paging_ajax a{  display: inline-block; border:1px solid #ddd; border-radius: 3px; padding: 3px 5px; margin: 0 3px; min-width: 30px; text-align: center; cursor: pointer; }
.paging_ajax a:hover,.paging_ajax a.current{ background: #4f4f4f; color: #fff;}

.wrap_product_new{ padding:40px 0; }
.xemthem{ text-align: center; margin-top: 30px;}
.xemthem a{ display: inline-block; color:#7c7c7c; border: 1px solid #7c7c7c; padding: 4px 20px; border-radius: 14px; font-family: 'Oswald-Regular'; }
.xemthem a:hover{ color:#f00; border: 1px solid #f00; }
 
.wrap_product{ padding-bottom:50px; }
.wrap_product_index{padding-top:50px;}

 
.loadkhung_product1{display: grid;grid-template-columns: repeat(3,1fr); grid-gap:18px;}
.loadkhung_product{display: grid;grid-template-columns: repeat(3,1fr); grid-gap:18px;}
.boxproduct_item{ background: #fff; padding: 10px; }
.boxproduct_item .boxproduct_img{display: block; overflow: hidden;position: relative; background: #fff;}
.boxproduct_item .boxproduct_img img{width: 100%; transform: scale(1); transition: all 0.5s;}
.boxproduct_item:hover .boxproduct_img img{ transform: scale(1.1); }
.boxproduct_item .boxproduct_info{ text-align: center;}
.boxproduct_item .boxproduct_name{ margin-top:10px; position: relative; }
.boxproduct_item .boxproduct_name a{ transition: all 0.5s; color:#000; text-transform: uppercase; font-size:16px; font-family: 'Muli-Regular'; display: block; overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.boxproduct_item:hover .boxproduct_name a{ color:#e21212; }
.boxproduct_item .boxproduct_price{color:#676767; line-height: 1.6; font-size: 15px; font-family: 'Muli-Light';}
.boxproduct_item .boxproduct_price span{color:#e21212; }
 
.loadkhung_product1 .boxproduct_item .boxproduct_name a{ font-size:18px; }


.pagination-home{ margin-top: 30px; }  
.pagination { flex-wrap: wrap; }
/*====BOX TIN TUC====*/
.news-item-box{padding:40px 0; background: #f2f2f2;}
.flex-news{ display: flex; flex-wrap: wrap; margin: 0 -15px; }
.news-item{ width: 50%; padding: 10px 15px; }
.news-item__centent{ padding: 10px; background: #fff; display: flex; }
.news-item__img{display: block; overflow: hidden; width: 200px; float: left;}
.news-item__img img{transition: all ease 0.3s;}
.news-item__item:hover .news-item__img img{transform: scale(1.04);}
.news-item__item{background: #fff;}
.news-item__info{ width: calc( 100% - 200px ); padding-left: 15px;}
.news-item__name a{text-transform: uppercase;color:#000000;font-family: 'RobotoCondensedBold';font-size:16px;}
.news-item__ngaytao{color:#cc0000;font-size:15px;font-family: 'RobotoCondensedRegular';}

.main_news{ font-size: 24px; font-family: 'Muli-Bold'; margin-bottom: 20px;}
 
.news_bt{width:100%; padding: 7px 0; display:block;}
.news_bt .pic-news{ width:100%; }
.news_bt .pic-news img{width:100%;}

.news_bt .info-news{ padding: 10px; background: #fff; width:100%; text-align: center; position: relative; padding-top: 20px; }
.news_bt .name-news a{color:#323c3f; font-size:16px;font-family: 'Lobster', cursive;display:block;line-height:normal;margin-bottom:5px;font-weight: bold;}
.news_bt .name-news:hover a{color:#f0bb55;}
.news_bt .desc-news{color: #a1a1a1; font-size: 12px; margin-top:5px; font-family: 'Muli-Regular'; height: 57px; line-height:18px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.news_bt .info-news .post-meta { color: #fff; border-radius: 25px; display: inline-block; padding: 5px 15px 2px 15px; position: absolute; top: -15px; left: 50%; transform: translateX(-50%); z-index: 9; opacity: 1; background-color: #000;}
 

.box-right-content{background: #fff; padding: 10px; border: 1px solid #cecfd0; border-top: none;}
.news_bt-left{width:100%; padding: 7px 0; display:block;}
.news_bt-left .pic-news{ width:30%; float: left;}
.news_bt-left .pic-news img{width:100%;}

.news_bt-left .info-news{ width:68%; float: right; position: relative; }
.news_bt-left .name-news a{color:#323c3f; font-size:14px; font-family: 'Muli-SemiBold'; display:block; line-height:normal; }
.news_bt-left .name-news:hover a{color:#f0bb55;}
.news_bt-left .desc-news{color: #a1a1a1; font-size: 12px; margin-top:5px; font-family: 'Muli-Regular'; line-height:1.4; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
  
 
/*====BOX FOOTER====*/
.baner-logo{ text-align: center; }
.baner-logo p{ font-size: 12px; font-family: 'Muli-Regular';}

.wrap-topft{ padding-bottom: 30px; border-bottom: 1px solid #e1e1e1; }
.boxfooter_container{ color:#696969; position: relative; font-family: 'Muli-Regular'; font-size: 16px; background-color: #fbefd6;}
.boxfooter_container .fixwidth{ padding:50px 0;  }
.boxfooter_1{ width:364px; position: relative; z-index: 1; }
.boxfooter_2{ min-width: 13%; }
.boxfooter_3{ min-width: 13%; }
.boxfooter_4{ min-width: 25%; }
.boxfooter_title{ font-family: 'Lobster', cursive; font-size: 15px; margin-bottom: 10px; color: #000;}
.ft_icon{ width: 55px; }
.ft_info{ width: calc( 100% -  55px ); padding-left: 10px; }

.social2{ margin-top: 20px ;}

.box_chinhsach_item{ }
.box_chinhsach_item a{color:#000; font-size:12px; }
.box_chinhsach_item a:hover{color:#f0bb55;}

 

.validation-newsletter{ width: 475px; margin: auto; height: 50px; position: relative;}
.validation-newsletter input{ width: 100%; border-radius: 25px; border: 1px solid #f0bb55; color: #7b7b7b; font-size: 15px; background: #f5f5f5; padding-right: 135px; line-height: 30px; height: 50px; outline: 0; padding: 8px 15px; box-shadow: none; margin-bottom: 0; }
.validation-newsletter button{margin: 0;  display: inline-block; background: #f0bb55;  color: #fff;  border-radius: 25px;  padding: 0 30px;  height: 50px;  text-transform: uppercase;  font-size: 15px;  outline: 0;  font-weight: normal; border: none; position: absolute; top: 0px; right: 0px;}
.item-position{ width: 375px;}


.boxfooter_bottom{ padding:10px 0; background: #5b5b5b;  color: rgba(255,255,255,.5); text-align: center; font-size: 14px; font-family: 'Muli-Regular';}
.boxfooter_bottom .fixwidth { padding: 0; }
/* Sản Phẩm Detail */
.mota_page_product{ margin-bottom: 20px; padding: 10px 20px; border: 1px solid #ebebeb; }
.mota_page_product .main_news{ margin-bottom: 10px; }
.noidung_page_product{ margin-top: 20px; }

.pro_catagory{ margin-bottom: 20px; display: flex; flex-wrap: wrap; }
.pro_catagory div{width: calc( ( 100% / 6 ) - 6px ); margin: 5px 3px; }
.pro_catagory div a{ display: block; color: #666; line-height: 1.3; border: 1px solid #e1e1e1; border-radius: 2px 2px; padding: 8px 10px; text-align: center; font-size: 13px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.pro_catagory div a:hover { border: 1px solid #ff0000;}

.border-top-0{ border-top: none; }
.muangay1{ display: inline-block; background: #82ae46; border: 1px solid #82ae46; color: #fff; padding:6px 8px; width: 100%; max-width: 140px; border-radius:4px; transition: all 0.4s; text-align: center; font-size: 16px; }
.muangay1:hover{ background: #fff; color: #82ae46; }

.muangay2{ display: inline-block; background: #f00; border: 1px solid #f00; color: #fff !important; padding:6px 8px; width: 100%; max-width: 140px; border-radius:4px; transition: all 0.4s; text-align: center; font-size: 16px; cursor:pointer; }
.muangay2:hover{ background: #cd0d15; border: 1px solid #cd0d15; color: #ff0 !important; }

.mota_page{ margin-bottom: 20px; }
.noidung_page{ margin-top: 20px; }
.grid-pro-detail{margin-bottom:30px;background: #fff; padding: 10px; border-radius: 10px;}
.left-pro-detail{position:relative;float:left;width:43%;text-align:center;margin-right:2%;background:white;}
.left-pro-detail .MagicZoom{border:1px solid #eee;padding:7px;border-radius:5px;}
.right-pro-detail{width:54%;float:right;}
.gallery-thumb-pro{position:relative;margin-top:10px;}
.owl-thumb-pro{padding:0px 40px;}
.thumb-pro-detail{display:block!important;border:1px solid #eee;padding:5px;border-radius:3px;cursor:pointer;}
.thumb-pro-detail.mz-thumb.mz-thumb-selected{border-color:#cecfd2;}
.thumb-pro-detail img{box-shadow:none!important;filter:brightness(100%)!important;border-bottom:0px!important;padding-bottom:0px!important;}
.title-pro-detail{text-transform:capitalize;font-size:24px;display:block;font-weight:700;}
.social-plugin-pro-detail{margin-bottom:5px;margin-top:0px!important;}
.desc-pro-detail{margin-top:0.6rem;}
.attr-pro-detail{list-style:none;padding:0px;}
.attr-pro-detail li{ padding: 4px 0; }
.attr-label-pro-detail{margin:0px 5px 0px 0px; min-width: 95px; display: inline-block;}
.attr-label-pro-detail.d-block{display:block;margin:0px 0px 5px 0px;}
.attr-content-pro-detail{display:inline-block;margin-bottom:0px;}
.price-new-pro-detail{font-weight:700;font-size:17px;color:var(--color-red);}
.price-old-pro-detail{font-weight:500;color:var(--color-gray);text-decoration:line-through;padding-left:10px;}
.color-pro-detail{display:inline-block;vertical-align:top;position:relative;width:35px;height:30px;margin:0px 0px 3px 0px;border:1px solid transparent;}
.size-pro-detail{border:1px solid #ccc;padding:3px 10px 4px 10px;display:inline-block;position:relative;}
.size-pro-detail.active,.color-pro-detail.active{border-color:#e5101d;color:#e5101d;}
.color-pro-detail.active:before,.size-pro-detail.active:before{content:'';position:absolute;width:100%;height:100%;top:0px;left:0px;bottom:0px;right:0px;margin:auto;z-index:1;background-image:url(../images/check-cart.png);background-repeat:no-repeat;background-position:bottom right;}
.color-pro-detail input[type=radio],.size-pro-detail input[type=radio]{outline:none;position:absolute;cursor:pointer;width:100%;height:100%;-webkit-appearance:none;border:0px;top:0px;left:0px;}
.quantity-pro-detail{width:100%;max-width:110px;line-height:normal;display:flex;align-items:center;justify-content:space-between;text-align:center;}
.quantity-pro-detail button{line-height:25px;padding:0px;width:30px;height:30px;color:#5f5f5f;cursor:pointer;font-size:22px;border:1px solid #cccccc;}
.quantity-pro-detail button.quantity-plus-pro-detail{border-left:0px;}
.quantity-pro-detail button.quantity-minus-pro-detail{border-right:0px;}
.quantity-pro-detail input{height:30px;border:1px solid #cccccc;width:calc(100% - 60px);text-align:center;font-size:14px;padding:5px;}
.cart-pro-detail{margin-bottom:1rem;display:flex;align-items:stretch;justify-content:flex-start;}
.cart-pro-detail a{width:auto;text-align:center;color:#fff;padding:8px 15px;text-transform:uppercase;border-radius:3px;}
.cart-pro-detail a.addnow{margin-right:10px;background:#fd6e1d;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));background:-webkit-linear-gradient(top,#f59000,#fd6e1d);background:-moz-linear-gradient(top,#f59000,#fd6e1d);background:-ms-linear-gradient(top,#f59000,#fd6e1d);background:-o-linear-gradient(top,#f59000,#fd6e1d);}
.cart-pro-detail a.buynow{background-color:var(--color-green);}
.cart-pro-detail a.buynow:hover{background-color:var(--color-dark-green);}
.cart-pro-detail a i{vertical-align:top;margin-top:3px;margin-right:8px;}
.tags-pro-detail{margin:1rem 0px 2rem 0px;}
.tags-pro-detail a{float:left;font-size:12px;color:#fff;padding:5px 10px 7px 10px;margin-right:5px;margin-bottom:5px;background-color:var(--color-red);border-radius:3px;}
.tags-pro-detail a:hover{background-color:var(--color-medium-red);}
.tags-pro-detail a i{font-size:10px;float:left;margin:5px 5px 0px 0px;}

.tabs-pro-detail{ padding: 10px; background:#fff; border-radius: 10px; margin-bottom: 50px; }
.tabs-pro-detail .ul-tabs-pro-detail{padding:0px;list-style:none;margin-bottom:1rem;border-bottom:1px solid #e7e7e7;}
.tabs-pro-detail .ul-tabs-pro-detail li{cursor:pointer;float:left;margin-right:5px;margin-bottom:5px;background:#eee;padding:5px 10px;}
.tabs-pro-detail .ul-tabs-pro-detail li.active{background:#333;color:#fafafa;}
.tabs-pro-detail .ul-tabs-pro-detail li:last-child{margin-right:0px;}
.tabs-pro-detail .content-tabs-pro-detail{display:none;}
.tabs-pro-detail .content-tabs-pro-detail.active{display:block;}
.tabs-pro-detail{ margin-top: 20px; }
/* Toc */
.box-readmore{padding:8px 15px;border:1px solid #dedede;margin-bottom:2rem;border-radius:5px;background-color:#eeeeee;}
.box-readmore li ul>li{margin:0;margin-bottom:8px}
.box-readmore li ul>li:before{content:counters(item,".") " "}
.box-readmore ul{list-style-type:none;counter-reset:item;margin-bottom:0px;padding-left:0px!important;margin-top:8px;}
.box-readmore ul li{display:table;counter-increment:item;margin-bottom:5px}
.box-readmore ul li:before{content:counters(item,".") ". ";display:table-cell;padding-right:5px}
.box-readmore ul li a{color:#333333;cursor:pointer;font-weight:600;}
.box-readmore ul li a:hover{color:#767676;}

/* Bài viết */
.news{width:100%;padding: 10px; background: #fff; margin-bottom:25px;display:block;}
 
.news .pic-news{float:left;margin-right:3%;width:33%;}
.news .pic-news img{width:100%;}
.news .info-news{float:left;width:64%;}
.news .name-news a{color:#333;font-size:16px;display:block;line-height:normal;margin-bottom:5px;font-weight: bold;}
.news .name-news:hover a{color:var(--color-red);}
.news .time-news{color:var(--color-gray);margin-bottom:0.25rem;}
.news .desc-news{color:#333333;margin-top:5px;line-height:22px;}
.share{padding:17px 10px 10px 10px;line-height:normal;background:rgba(128,128,128,0.15);margin-top:15px;border-radius:5px;}
.share b{display:block;margin-bottom:5px;}
.othernews b{margin-bottom:10px;}
.list-news-other{padding-left:17px;list-style:square;}
.list-news-other li{margin-bottom:2px;}
.list-news-other li a{text-transform:none;color:#333333;}
.list-news-other li a:hover{color:var(--color-red);}
 
 
/* Contact */
.top-contact{display:flex;align-items:flex-start;justify-content:space-between;margin-bottom:30px;}
.top-contact .article-contact{width:48%;}
.form-contact{width:47%;}
.input-contact{position:relative;margin-bottom:15px;}
.input-contact input,.input-contact textarea{width:100%;padding:0px;outline:none;font-size:14px;}
.input-contact input{text-indent:10px;}
.input-contact textarea{resize:none;height:150px;padding:10px;}
.input-contact .custom-file-label::after{content:attr(title);}
.bottom-contact{position:relative;height:500px;}
.bottom-contact iframe{position:absolute;top:0px;left:0px;width:100%!important;height:100%!important;}

 

/* Phân Trang */
.pagination-home .pagination .page-item .page-link{color:#555555;font-size:.875rem;}
.pagination-home .pagination .page-item.active .page-link{color:#ffffff;background-color:#555555;border-color:#555555;}
/* Phân Trang Ajax */
.pagination-ajax{text-align:center; margin-top: 20px;}
.pagination-ajax .pagination{justify-content: center !important;}
.pagination-ajax a{display:inline-block;vertical-align:top;margin:0px 2px 3px 2px;color:#333;background:#eee;border:1px solid rgba(161,161,161,0.4);font-size:12px;cursor:pointer;padding:3px 10px 3px 10px;border-radius:2px;}
.pagination-ajax a.current,.pagination-ajax a:hover{background:var(--color-red);color:#fff;border-color:var(--color-red);}

/* Popup custom */
.modal-custom .modal-footer{padding:0.5rem;}
.modal-custom .modal-footer .btn{font-size:14px;}
/* Popup */
#popup .modal-body{padding:0px;}

/* Hidden Google Captcha */
.grecaptcha-badge{display:none!important;width:0px!important;height:0px!important;visibility:hidden!important;overflow:hidden;}

/* Hidden Check Grammar Coccoc */
coccocgrammar{display:none;}

/* Scroll Top */
.scrollToTop{width:41px;height:41px;text-align:center;font-weight:bold;color:#444;text-decoration:none;position:fixed;bottom:30px;right:15px;display:none;z-index:10;cursor:pointer;}

/* Text Hide */
.text-split{overflow:hidden;text-overflow:ellipsis;white-space:normal;-webkit-box-orient:vertical;display:-webkit-box;-webkit-line-clamp:3;}

/* Transition All */
.transition{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;}

/* Scale IMG */
.scale-img{overflow:hidden;display:block;}
.scale-img img{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);}
.scale-img:hover > img{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;-moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);transform:scale(1.1,1.1);}



